{
    "env": {
        "node": true,
        "commonjs": true,
        "browser": true,
        "es6": true
    },
    "parserOptions": {
        "ecmaVersion": 9,
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": true,
            "modules": true
        }
    },
    "extends": [
        "eslint:recommended",
        "plugin:react/recommended"
    ],
    "parser": "babel-eslint",
    "rules": {
        "no-unused-vars": "warn",
        "react/prop-types": "off",
        "no-constant-condition": "off",
        "react/no-children-prop": "off",
        "react/display-name": "off"
    }
}